# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

*.log

# macOS Stuff
.DS_Store

# Executables
*.exe
*.out
*.app

build/
build/.cmake/api/v1/reply/codemodel-v2-c6f6f8da83f36fb7eedb.json
build/.cmake/api/v1/reply/index-2022-01-11T01-39-45-0173.json
build/.cmake/api/v1/reply/target-afv_unix-Debug-f127f6eb55b2339f0213.json
build/afv_unix
build/CMakeFiles/afv_unix.dir/build.make
build/CMakeFiles/afv_unix.dir/cmake_clean.cmake
build/CMakeFiles/afv_unix.dir/compiler_depend.internal
build/CMakeFiles/afv_unix.dir/compiler_depend.make
build/CMakeFiles/afv_unix.dir/DependInfo.cmake
build/CMakeFiles/afv_unix.dir/link.txt
build/CMakeFiles/afv_unix.dir/progress.make
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/compile_commands.json
build/imgui.ini
build/Makefile

config.toml

resources/libafv_native.framework/libafv_native

.cache

*.rc